.navbar-collapse {
    text-align: center;
}

.form-group > label > span {
    font-weight: bold;
}

.nodeAttributesBase {
    visibility: hidden
}

.body {
    background: url("images/imageedit_5_5281874635.png")no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dzu-dropzone {
    overflow: hidden !important;
}
